html {
    scroll-behavior: smooth;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.custom-location-info,
.nav-link,
#booking-form input,
label {
    font-size: 18px;
}

.home-header-bg {
    background-image: url('images/bike-shop.jpg');
    background-size: cover;
    color: white;
}

.custom-color {
    background-color: #3B3F46;
    color: white;
}

.card-image {
    flex-shrink: 0;
    width: 100%;
    height: 240px;
}

.custom-navbar {
    background-color: #1E2328;
}

.jumbotron-custom {
    background-color: #F5B301;
}

.custom-card {
    background-color: #F5B301;
    border: none;
    height: 500px;
}

.btn-custom {
    color: #ff7f00;
    background-color: #ffffff;
    border: none;
}

.custom-btn-2 {
    color: white;
    background-color: #F5B301;
    border: none;
    font-size: 18px;
}

.custom-btn-2:hover {
    background-color: rgb(126, 126, 126);
}

.btn-custom:hover {
    background-color: rgb(126, 126, 126);
    color: #ffffff;
}

.card-title,
.card-text {
    color: #333;
    /* Change this color to your preferred font color */
}

.team-description {
    padding-top: 2.5em;
    padding-bottom: 0.5em;
}

.jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative; 
  }
  
.container.text-center {
    flex-grow: 1;
}
.section-end {
    height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.bg{
    padding-top: 1.5em;
}