.footer {
    background-color: #797674;
    color: black;
    padding: 0;
  }
  
.footer .container-fluid {
    padding-top: 0.5em;
    padding-left: 0em;
    padding-right: 0;
}

.footer p {
    margin: 0;
}

.location-info {
    padding-left: 15px; /* Adjust padding as needed */
  }
  
  