.footer {
    background-color: #797674;
    color: black;
    padding: 0;
  }
  
.footer .container-fluid {
    padding-top: 0.5em;
    padding-right: 0;
}

.footer p {
    margin: 0;
    padding: 0;
}

address {
    text-align: left;
  }
.location-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
}
.social-media-icon{
    font-size: 2em;
    
}  

.align-left {
    text-align: left;
  }
  
.socials {
    display: flex;
    flex-wrap: wrap;
  }
  
.socials > div {
    margin-right: 3em; /* Adjust the value as per your preference */
}

