.register-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.title,
.subtitle {
  color: #333;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

input {
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s;
}

input:hover {
  border-color: #88aaff;
}

input:focus {
  outline: none;
  border-color: #5588ff;
}

.register-form button[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
  width: 200px;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.register-form button[type="submit"]:hover {
  background-color: #0056b3;
}

.register-container h2 {
  padding-bottom: 20px;
}
