/* from bootstrap https://bootstrapshuffle.com/classes/tooltips/tooltip */

/* _tooltip.scss:2 */
.tooltip {
    position: absolute;
    z-index: $zindex-tooltip;
    display: block;
    margin: $tooltip-margin;
    @include reset-text();
    font-size: $tooltip-font-size;
    word-wrap: break-word;
    opacity: 0;
  
    &.show { opacity: $tooltip-opacity; }
  
    .arrow {
      position: absolute;
      display: block;
      width: $tooltip-arrow-width;
      height: $tooltip-arrow-height;
  
      &::before {
        position: absolute;
        content: "";
        border-color: transparent;
        border-style: solid;
      }
    }
  }
