body {
    background-color: #282c34 !important;
    color: #fff !important;
}

hr {
    color: white
}

ul {
    padding: 0;
    margin: 0;
}

li {
    margin-left: 15px;
}

label {
    font-weight: bold;
}