html {
  background-color: #282c34;
  color: white;
  padding: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
}

p {
  font-size: 18px;
}

h1 {
  text-align: center;
}

input::placeholder {
  color: #a9a9a9;
}

.big-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  margin: 5px;
}

.main-content {
  flex-grow: 1;
}

#signature {
  text-align: center;
  padding: 10px;
  color: #ccc;
  font-style: italic;
  font-size: 0.8em;
  background-color: #282c34;
  border-top: 1px solid #444;
}

.btn-nav {
  background-color: beige;
  cursor: pointer;
  border: 0px;
  padding: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  margin: 0;
}

.active,
.btn-nav:hover {
  background-color: #d5d5bf !important;
}

.button-container {
  background-color: beige;
  text-align: center;
}

#customer-info {
  display: block;
  padding: 25px;
}

#products-page {
  display: none;
  padding: 25px;
}

#cart-page {
  display: none;
  padding: 25px;
  width: 50%;
  margin: auto;
}

#product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  padding: 10px;
}

.product {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  background-color: white;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product h3 {
  margin-top: 0;
  color: #333;
}

.product-img img {
  width: 100%;
  height: 100%;
}

.product p {
  color: #666;
}

.quantity-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.quantity-selector button {
  background-color: #282c34;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.quantity-selector button:hover {
  transform: scale(1.2);
}

.quantity-selector span {
  min-width: 20px;
  color: #282c34;
}

.quantity-selector button,
.quantity-selector span {
  margin: 0 5px;
  padding: 5px 10px;
  text-align: center;
}

#cart-container {
  background-color: white;
  color: rgb(75, 73, 95);
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
}

.cart-checkout-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #282c34;
  padding: 6px;
}

.cart-quantity {
  text-align: right;
  width: 70px;
}

.total-checkout-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
}

.pay-container {
  margin: auto;
  padding: 15px 15px 15px 5px;
  text-align: right;
}

.bold-text {
  font-weight: bold;
}

.checkout-btn {
  background-color: #282c34;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 15px;
  font-size: 16px;
}

.checkout-btn:hover {
  background-color: #0056b3;
}

#payment-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  color: white;
  animation: fadeIn 0.5s;
}

#message-wrapper {
  background-color: rgba(255, 255, 255, 0.8);
  color: #282c34;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

#message-string {
  font-size: 1.5em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 15px;
  background-color: #282c34;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.hover-btn:hover {
  transform: scale(1.1);
}

#search-input {
  width: 100%;
  max-width: 400px;
  padding: 10px 15px;
  margin: 20px 0;
  border: 2px solid #ddd;
  border-radius: 25px;
  font-size: 18px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s, box-shadow 0.3s;
}

#search-input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
.feedback{
  display: none;
}

#billing-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 20px auto;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.form-group input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.next-btn {
  background-color: #282c34;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  transition: background-color 0.2s ease;
}

.next-btn:hover {
  background-color: #0056b3;
}

.feedback-message {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  text-align: center;
}

.feedback-message.error {
  color: #d9534f;
  background-color: #f2dede;
  border: 1px solid #ebccd1;
}

.feedback-message.success {
  color: #3c763d;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
}

#shipping-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 500px;
}

.shipping-form {
  display: flex;
  flex-direction: column;
}

.shipping-info-container {
  display: flex;
  flex-direction: column;
}

.shipping-btn {
  background-color: #282c34;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  transition: background-color 0.2s ease;
}

.shipping-info-container > label {
  display: block;
  margin-bottom: 8px;
  color: #333;
}

.shipping-info-container > input {
  padding: 8px;
  margin-bottom: 16px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.icon-container {
  display: flex;
  align-items: center;
}

.icon {
  width: 2em;
  height: auto;
  margin-right: 5px;
}

#checkout-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  color: #333333;
}

.shipping-summary {
  line-height: 5px;
}

.back-btn {
  background-color: rgb(230, 230, 230);
  color: #282c34;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  transition: background-color 0.2s ease;
  transition: all 0.2s ease-in-out;
}


.back-btn:hover {
  background-color: #ddd;
}

.search-and-filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#category-filter-container {
  margin-left: auto;
  text-align: right;
  margin-right: 20px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 8px;
  display: inline-block;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  float: right;
  margin-top: 20px;
}

#category-select {
  padding: 5px 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
  font-size: 16px;
}

#products-page::after {
  content: "";
  display: block;
  clear: both;
}

.checkbox-container{
  display:flex;
  flex-direction: column;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
  max-width: 400px;
  /* background-color: white;
  color:#333; */
}

.checkbox-label{
  margin: 5px;
}

.checkbox-label input{
  cursor: pointer;
  transform: scale(1.5);
}

